* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    color: rgb(111, 109, 226);
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    padding: 10px;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 30px;
    font-size: 50px;
    &:hover {
    color: rgb(135, 133, 230);
    }
    font-weight: 900;
}
.carrito {
    text-align: right;
    margin-right: 25px;
    h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 26px;
        font-weight: 900;
    }
    a {
        text-decoration-line: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        font-size: 20px;
        &:hover {
            color: #d374e9;
        }
    }
}
#mensaje {
    color: #cd6ceb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    text-align: left;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
}
#productos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, auto);  
    padding: 50px;
    padding-left: 100px;
    justify-content: center;
    background-color: rgb(204, 225, 235);
    button {
        margin-top: 15px;
        background-color: #9764da;
        color: white;
        border: none;
        border-radius: 8px;
        padding: 8px 12px;
    cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        transition: background-color 0.2s, transform 0.2s;
    &:hover{
        background-color: #d374e9;
        transform: scale(1.05);
        }
    }
    box-shadow: 0px 3px 14px 0px rgba(99,105,208,0.75);
    -webkit-box-shadow: 0px 3px 14px 0px rgba(99,105,208,0.75);
    -moz-box-shadow: 0px 3px 14px 0px rgba(99,105,208,0.75);
}
.producto-img {
    width: 250px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
.producto-nombre {
    color: rgb(111, 109, 226);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 3px;
    margin-bottom: 10px;
    font-size: 20px;
}
.producto-precio { 
    color: rgb(111, 109, 226);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2px;
    margin-bottom: 20px;
    font-size: 16px;
}

footer {
    margin-top: 90px;
    background-color: #ccdaec; 
    padding: 20px 0 8px 0;
    text-align: center;
    border-top: 2px solid #ceaddd; 
    img {
        width: 50px;
    }
    p {
    color: #9764da;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .footer-iconos {
        display: flex;
        justify-content: center;
        gap: 50px;
    } 
    .footer-copy p {
        font-size: 18px;
        font-weight: 500;
        margin-top: 30px;
    }
}
